#top {
    position: relative;
    /*background-color: #B22222;*/
    color: white;
    font-family: fantasy;
    font-size: 30px;
    padding: 10px;
    /*margin: 0px 0px 10px 0px;*/
}

#bottom {
    position: relative;
    background-color: #FF6A6A;
    padding: 5px;
    margin: 200px 0px 0px 0px;
}

#left {
    float: left;
    /*background-color: wheat;*/ 
    padding: 5px;
    width: 160px;
    /*font-size: 15px;*/
    /*font-family:  sans-serif;*/
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;

    padding: 5px;
}

.left_content {

    padding: 5px;
    margin-left: 170px;
}

.right_content {

    padding: 5px;
    margin: 0px 170px 0px 170px;
}

/*#top a:link, #top a:visited {
    color: #B22222;
    font-weight: bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}*/

#form_cadastro{
    width: 450px;
    margin: auto; 
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;   

}

@media(max-width:480px){
    form_cadastro{
        width: 100%;
    }
}

.botao{
    font-family: sans-serif; 
    border-radius: 5px; 
    background: white;

}

#tabela_cardapio{
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    background: rgba(0,0,0,0.4);   
}

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;


}

.slider ul{
    display: flex; /*coloca uma imagem ao lado da outra*/
    padding: 0;  
    width: 400%;

    animation: cambio 20s infinite;
}

.slider li{
    width: 100%; /*espaço entre uma imagem e outra*/
    list-style: none;
}

.slider img{
    width: 50%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%}
    45% {margin-left: -100%;}

    50% {margin-left: -200%}
    70% {margin-left: -200%;}

    75% {margin-left: -200%}
    100% {margin-left: -200%;}
}

.movi{
    font-family: inherit;
    size: 50px;
    color: #D20005;
}

#pedido_online{
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    font-family: cursive;
    font-size: 25px;
}

/**formatação dos botões de COMPRAR na página de pedido do cliente**/

#bt{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}

#bt1{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}

#bt2{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}

#bt3{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}

#bt4{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}

#bt5{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}

#bt6{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}

#bt7{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}

#bt8{
    background: #FF6A6A;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;   
}